@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />

<TextInput placeholder="New Input" maxlength="40" id="newInput"></TextInput>
<br />
<Card Header="This is my header">
	<Body>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">An item</li>
		<li class="list-group-item">A second item</li>
		<li class="list-group-item">A third item</li>
	</ul>
	</Body>
	<Footer>
		This is my footer
	</Footer>
</Card>
<br />
<MyComponents.Component1></MyComponents.Component1>